<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сапёр</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/reverse.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <header>
            <h1>Сапёр</h1>
            <h2>Привет! Это игра: Сапёр!</h2>
        </header>
        <main>
            <section>
                <beginning-of-game v-if="!showBeginningComponentOne"></beginning-of-game>
                    <div class="solider" v-if="showBeginningComponentOne && !runTheEnd && !runTheEndTrue">
                        <div class="row">
                            <button
                                v-on:click.once="clicknumber(buttonCoord[0][0].coordX, buttonCoord[0][0].coordY), bombSearch(buttonCoord[0][0].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[0][0].bomb}" class="btn">
                                {{
                    buttonCoord[0][0].empty
                }}
                            </button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[1][0].coordX, buttonCoord[1][0].coordY), bombSearch(buttonCoord[1][0].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[1][0].bomb}" class="btn">
                                {{
                    buttonCoord[1][0].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[2][0].coordX, buttonCoord[2][0].coordY), bombSearch(buttonCoord[2][0].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[2][0].bomb}" class="btn">{{
                    buttonCoord[2][0].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[3][0].coordX, buttonCoord[3][0].coordY), bombSearch(buttonCoord[3][0].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[3][0].bomb}" class="btn">{{
                    buttonCoord[3][0].empty
                }}</button></div>
                        <div class="row"><button
                                v-on:click.once="clicknumber(buttonCoord[0][1].coordX, buttonCoord[0][1].coordY), bombSearch(buttonCoord[0][1].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[0][1].bomb}" class="btn">{{
                    buttonCoord[0][1].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[1][1].coordX, buttonCoord[1][1].coordY), bombSearch(buttonCoord[1][1].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[1][1].bomb}" class="btn">{{
                    buttonCoord[1][1].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[2][1].coordX, buttonCoord[2][1].coordY), bombSearch(buttonCoord[2][1].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[2][1].bomb}" class="btn">{{
                    buttonCoord[2][1].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[3][1].coordX, buttonCoord[3][1].coordY), bombSearch(buttonCoord[3][1].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[3][1].bomb}" class="btn">{{
                    buttonCoord[3][1].empty
                }}</button></div>
                        <div class="row"> <button
                                v-on:click.once="clicknumber(buttonCoord[0][2].coordX, buttonCoord[0][2].coordY), bombSearch(buttonCoord[0][2].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[0][2].bomb}" class="btn">{{
                    buttonCoord[0][2].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[1][2].coordX, buttonCoord[1][2].coordY), bombSearch(buttonCoord[1][2].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[1][2].bomb}" class="btn">{{
                    buttonCoord[1][2].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[2][2].coordX, buttonCoord[2][2].coordY), bombSearch(buttonCoord[2][2].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[2][2].bomb}" class="btn">{{
                    buttonCoord[2][2].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[3][2].coordX, buttonCoord[3][2].coordY), bombSearch(buttonCoord[3][2].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[3][2].bomb}" class="btn">{{
                    buttonCoord[3][2].empty
                }}</button></div>
                        <div class="row"> <button
                                v-on:click.once="clicknumber(buttonCoord[0][3].coordX, buttonCoord[0][3].coordY), bombSearch(buttonCoord[0][3].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[0][3].bomb}" class="btn">{{
                    buttonCoord[0][3].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[1][3].coordX, buttonCoord[1][3].coordY), bombSearch(buttonCoord[1][3].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[1][3].bomb}" class="btn">{{
                    buttonCoord[1][3].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[2][3].coordX, buttonCoord[2][3].coordY), bombSearch(buttonCoord[2][3].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[2][3].bomb}" class="btn">{{
                    buttonCoord[2][3].empty
                }}</button>
                            <button
                                v-on:click.once="clicknumber(buttonCoord[3][3].coordX, buttonCoord[3][3].coordY), bombSearch(buttonCoord[3][3].bomb), Winnertrue()"
                                v-bind:class="{activebomb: isActive === buttonCoord[3][3].bomb}" class="btn">{{
                    buttonCoord[3][3].empty
                }}
                            </button>
                        </div>
                    </div>
                    <end-game-false v-if="runTheEnd"></end-game-false>
                    <end-game-true v-if="runTheEndTrue"></end-game-true>
            </section>
            <game-footer></game-footer>
        </main>
        <footer>
            <div>
                <p>Нововведения:</p>
                <p>1. Сделан редизайн игры
                </p>
                <p>2. Теперь можно выиграть игру:)</p>
                <p>3. Теперь можно и проиграть игру:)
                <p>4. Бомбы теперь расположены в случайном порядке </p>
            </div>
        </footer>
    </div>

    <script src="js/main.js"></script>
</body>

</html>