@import "../variables.scss";
main {
    section:nth-of-type(1) {
        padding-top: 6.6em;
        .row {
            &:nth-of-type(1) {
                width: 100%;
                height: 2.875em;
                background-color: $catalogLineBack;
                background-image: url(../../../img/Catalog/lineTop.svg);
                background-repeat: no-repeat;
                background-position-y: 50%;
            }
            &:nth-of-type(2) {
                height: 8em;
                background-color: $mainColorRed;
            }
        }
    }
    section:nth-of-type(2) {
        background-color: $mainColorSeconday;
        background-image: url(../../../img/Catalog/lineSectionTo.svg);
        background-repeat: no-repeat;
        background-position-y: 0.5em;
        .wrapper {
            @include maxWidth;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 9.375em 0;
            grid-row-gap: 4.375em;
            grid-column-gap: 6.25em;
            .column {
                &:nth-of-type(3n) {
                    justify-self: self-end;
                }
                .column-row-image {
                    width: 10.667em;
                    height: 10.667em;
                    background-color: $mainColorRed;
                    border-radius: 0.611em;
                    font-size: 2.25em;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
