@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?66113737");
  src: url("../fonts/fontello.eot?66113737#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?66113737") format("woff2"), url("../fonts/fontello.woff?66113737") format("woff"), url("../fonts/fontello.ttf?66113737") format("truetype"), url("../fonts/fontello.svg?66113737#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "";
}

/* '' */
.icon-vkontakte:before {
  content: "";
}

/* '' */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

header .container {
  background-color: #000000;
  width: 100%;
  height: 5.7em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
@media (max-width: 767px) {
  header .container {
    height: 4rem;
  }
}
header .container .row {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
header .container .row .column:nth-child(1) {
  display: flex;
}
header .container .row .column:nth-child(1) .items:nth-child(1) {
  align-self: center;
  margin-top: -10px;
}
header .container .row .column:nth-child(1) .items:nth-child(1) img {
  max-width: 100%;
}
@media (min-width: 768px) {
  header .container .row .column:nth-child(1) nav {
    display: flex;
    align-items: center;
  }
  header .container .row .column:nth-child(1) nav ul {
    align-items: center;
    margin-left: 55px;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  header .container .row .column:nth-child(1) nav ul {
    font-size: 1rem;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  header .container .row .column:nth-child(1) nav ul li {
    margin-right: 40px;
  }
  header .container .row .column:nth-child(1) nav ul li a {
    text-decoration: none;
    color: white;
  }
  header .container .row .column:nth-child(1) nav ul li a:hover {
    color: #FFA900;
    transition-duration: 0.2s;
  }
  header .container .row .column:nth-child(1) nav ul li .nav_active {
    padding-bottom: 3%;
    border-bottom: 4px solid #FFA900;
    transition-duration: 0.2s;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  header .container .row .column:nth-child(1) nav ul li {
    font-size: 0.9rem;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  header .container .row .column:nth-child(1) nav {
    position: fixed;
    right: 0%;
    top: 63px;
    background-color: #000000;
    color: white;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    height: 280px;
  }
  header .container .row .column:nth-child(1) nav ul {
    margin: 20px 10px 20px 10px;
  }
  header .container .row .column:nth-child(1) nav ul li {
    font-size: 20px;
    padding: 11px 35px 11px 35px;
    margin: 8px 0 8px 0;
    text-align: center;
    background-color: #FFA900;
    font-weight: 600;
    border-radius: 10px;
  }
  header .container .row .column:nth-child(1) nav ul li:hover {
    background-color: #ffd900;
    transition-duration: 0.2s;
  }
  header .container .row .column:nth-child(1) nav ul li a {
    text-decoration: none;
    color: #000000;
  }
}
@media (max-width: 767px) {
  header .container .row .column:nth-child(1) .header_menu_active {
    height: 0%;
  }
}
header .container .row .column:nth-child(2) {
  align-self: center;
}
header .container .row .column:nth-child(2) button {
  background-color: #FFA900;
  width: 19rem;
  height: 4rem;
  border-radius: 20px;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .container .row .column:nth-child(2) button {
    font-size: 1rem;
    width: 12em;
  }
}
header .container .row .column:nth-child(2) button:hover {
  background-color: #ffd900;
  transition-duration: 0.2s;
}
header .container .row .column:nth-child(3) {
  display: flex;
  align-self: center;
}
@media (min-width: 768px) {
  header .container .row .column:nth-child(3) {
    display: none;
  }
}
header .container .row .column:nth-child(3) .items_column:nth-child(1) {
  align-self: center;
  margin-right: 1rem;
}
@media (max-width: 350px) {
  header .container .row .column:nth-child(3) .items_column:nth-child(1) {
    font-size: 0.8rem;
  }
}
header .container .row .column:nth-child(3) .items_column:nth-child(1) a {
  color: white;
  text-decoration: none;
}
header .container .row .column:nth-child(3) .items_column_burger {
  align-self: center;
}
header .container .row .column:nth-child(3) .items_column_burger .items {
  width: 3.5rem;
  height: 1rem;
  background-color: #FFA900;
  border-radius: 0.625rem;
  margin-bottom: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  header .container .row .column:nth-child(3) .items_column_burger .items {
    width: 3rem;
    height: 0.7rem;
  }
}
header .container .row .column:nth-child(3) .items_column_burger .items_active1 {
  transform: rotate(45deg);
  height: 0.1rem;
}
header .container .row .column:nth-child(3) .items_column_burger .items_acrive2 {
  display: none;
}
header .container .row .column:nth-child(3) .items_column_burger .items_active3 {
  transform: rotate(-46deg);
  margin-top: -4px;
  height: 0.1rem;
}
@media (max-width: 767px) {
  header .container .row .items_lg {
    display: none !important;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

main section:nth-child(1) {
  padding-top: 91px;
}
@media (max-width: 1439px) {
  main section:nth-child(1) {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  main section:nth-child(1) {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  main section:nth-child(1) {
    font-size: 11px;
    padding-top: 64px;
  }
}
@media (max-width: 575px) {
  main section:nth-child(1) {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  main section:nth-child(1) {
    font-size: 7px;
  }
}
@media (max-width: 370px) {
  main section:nth-child(1) {
    font-size: 6px;
  }
}
main section:nth-child(1) .container .wrapper {
  background-image: url(../img/main/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-top: 1em solid #FFA900;
  border-bottom: 1em solid #FFA900;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 89vh;
}
@media (max-width: 992px) {
  main section:nth-child(1) .container .wrapper {
    background-attachment: scroll;
  }
}
@media screen and (orientation: landscape) and (max-width: 1080px) {
  main section:nth-child(1) .container .wrapper {
    height: 100%;
  }
}
main section:nth-child(1) .container .wrapper a {
  display: flex;
  text-decoration: none;
}
main section:nth-child(1) .container .wrapper a .button_title {
  font-size: 3em;
  width: 75%;
  max-width: 450px;
  height: 10%;
  margin: 0 auto;
  border-radius: 0.9em;
  border: 0;
  background-color: #FFA900;
  color: #000000;
  line-height: 30px;
  min-height: 2.8em;
  font-weight: bold;
}
@media (min-width: 768px) {
  main section:nth-child(1) .container .wrapper a .button_title {
    display: none;
  }
}
@media (max-width: 500px) {
  main section:nth-child(1) .container .wrapper a .button_title {
    font-size: 3.5em;
    width: 80%;
  }
}
@media screen and (orientation: landscape) and (max-width: 1080px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(2) {
    margin-top: 3em;
  }
}
main section:nth-child(1) .container .wrapper .row:nth-child(2) .line_1 {
  width: 4.25em;
  margin-left: 5em;
}
main section:nth-child(1) .container .wrapper .row:nth-child(2) .line_2 {
  margin-left: 56em;
  margin-top: -4em;
  width: 4.25em;
}
@media (max-width: 1439px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(2) .line_2 {
    margin-left: 47em;
  }
}
main section:nth-child(1) .container .wrapper .row:nth-child(2) h1 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
  flex-basis: 30%;
  margin-top: -1.5em;
  margin-left: 4em;
}
@media (min-width: 1440px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(2) h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 767px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(2) h1 {
    margin-left: 3.3em;
  }
}
main section:nth-child(1) .container .wrapper .row:nth-child(2) h1 span:nth-child(1) {
  color: #FFA900;
  font-size: 3em;
}
main section:nth-child(1) .container .wrapper .row:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.5);
  width: 45em;
  padding: 60px 50px 70px 80px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(3) {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(3) {
    padding: 60px 50px 70px 55px;
  }
}
@media (max-width: 575px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(3) {
    padding: 30px 40px 40px 30px;
  }
}
main section:nth-child(1) .container .wrapper .row:nth-child(3) p {
  font-size: 1.2em;
  line-height: 30px;
}
@media (max-width: 500px) {
  main section:nth-child(1) .container .wrapper .row:nth-child(3) p {
    font-size: 1.7em;
    line-height: 20px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

section:nth-child(2) .container {
  color: white;
  background-image: url(../img/main/2.png);
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (orientation: landscape) and (max-width: 1080px) {
  section:nth-child(2) .container {
    height: 100%;
  }
}
@media (max-width: 500px) {
  section:nth-child(2) .container {
    height: 100%;
  }
}
@media (max-width: 768px) {
  section:nth-child(2) .container {
    background-attachment: scroll;
  }
}
@media (min-width: 1441px) {
  section:nth-child(2) .container {
    font-size: 20px;
  }
}
@media (max-width: 1439px) {
  section:nth-child(2) .container {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  section:nth-child(2) .container {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  section:nth-child(2) .container {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  section:nth-child(2) .container {
    font-size: 8px;
  }
}
section:nth-child(2) .container .row:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(1) {
  align-self: flex-end;
  padding: 1.875em 0 0 2.1em;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(1) h2 {
  font-size: 2.5em;
  line-height: 49px;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(2) {
  display: flex;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(2) .items {
  width: 1.3em;
  height: 3em;
  min-width: 1.5em;
  min-height: 3em;
  background-color: #FFA900;
  transform: rotate(45deg);
  transform: skew(-36deg, 0deg);
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(2) .items:nth-child(1) {
  margin-right: 1.875em;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(2) .items:nth-child(2) {
  margin-right: 1.875em;
}
section:nth-child(2) .container .row:nth-child(1) .column:nth-child(2) .items:nth-child(3) {
  margin-right: 1.1em;
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    margin-top: 3em;
  }
}
section:nth-child(2) .container .row_wrapper_body .row {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 95%;
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body .row {
    flex-direction: column;
  }
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) {
  padding: 0;
  align-self: center;
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) {
    align-self: flex-start;
  }
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul {
  font-size: 1em;
  line-height: 1.2em;
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul li {
  display: flex;
  align-items: center;
  padding-bottom: 0.6em;
}
@media (max-width: 500px) {
  section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul li {
    padding-bottom: 1em;
  }
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul li span:nth-child(1) {
  padding-right: 0.6em;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.2em;
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul li span:nth-child(1) {
    font-size: 3.2em;
    line-height: 1.5em;
  }
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(1) ul li span:nth-child(2) {
    font-size: 1.4em;
    line-height: 1.5em;
  }
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(2) {
  align-self: center;
}
@media (max-width: 767px) {
  section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(2) {
    align-self: flex-end;
  }
}
section:nth-child(2) .container .row_wrapper_body .row .column:nth-child(2) img {
  width: 35em;
  height: 25em;
  max-width: 37rem;
  max-height: 27rem;
}
section:nth-child(2) .container .row:nth-child(3) {
  display: flex;
  border-bottom: 3em solid #FFA900;
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) {
  margin: 0 1.1em;
  display: flex;
}
@media (max-width: 768px) {
  section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) {
    margin: 0;
  }
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) .items {
  width: 1.3em;
  height: 3em;
  min-width: 1.5em;
  min-height: 3em;
  background-color: #FFA900;
  transform: rotate(45deg);
  transform: skew(-36deg, 0deg);
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) .items:nth-child(1) {
  margin-right: 1.875em;
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) .items:nth-child(2) {
  margin-right: 1.875em;
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(1) .items:nth-child(3) {
  margin-right: 1.5625em;
}
section:nth-child(2) .container .row:nth-child(3) .column:nth-child(2) {
  align-self: center;
}
@media (max-width: 340px) {
  section:nth-child(2) .container .row:nth-child(3) .column:nth-child(2) h3 {
    font-size: 1.1em;
  }
}

@media (max-width: 991px) {
  section:nth-child(3) {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  section:nth-child(3) {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  section:nth-child(3) {
    font-size: 9px;
  }
}
@media (max-width: 400px) {
  section:nth-child(3) {
    font-size: 8px;
  }
}
@media (max-width: 400px) {
  section:nth-child(3) {
    font-size: 7px;
  }
}
section:nth-child(3) .container:nth-child(1) {
  padding: 1.7em 0 1.7em 0;
  border-bottom: 1em solid #FFA900;
}
section:nth-child(3) .container:nth-child(1) .row .swiper-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
section:nth-child(3) .container:nth-child(1) .row .swiper-slide {
  text-align: center;
  font-size: 1.1em;
  background: #fff;
  font-weight: bold;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(1) .row .swiper-slide {
    font-size: 1.7em;
  }
}
@media (max-width: 760px) {
  section:nth-child(3) .container:nth-child(1) .row .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  section:nth-child(3) .container:nth-child(1) .row .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
section:nth-child(3) .container:nth-child(3) {
  display: flex;
  flex-direction: column;
  padding: 1.25em 0 3.125em 0;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) {
    flex-direction: row;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) {
  margin-top: 1em;
  border-bottom: 1em solid #FFA900;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) {
    border: 0;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper {
    max-width: 100%;
    margin: 0;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title {
    justify-content: space-between;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title .column:nth-child(1) h3 {
  text-align: center;
  font-size: 2.5em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title .column:nth-child(1) h3 {
    font-size: 1.8em;
    text-align: start;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title .column:nth-child(2) {
  flex-basis: 42%;
  display: flex;
}
@media (min-width: 768px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title .column:nth-child(2) {
    display: none;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_title .column:nth-child(2) .items {
  width: 1.3em;
  height: 3em;
  min-width: 1.5em;
  min-height: 3em;
  background-color: #FFA900;
  transform: rotate(45deg);
  transform: skew(36deg, 0deg);
  margin-right: 1em;
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content {
    padding: 0;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column {
    padding: 4.125em 0.67em 0 0;
    flex-basis: 50%;
    align-items: flex-start;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column h4 {
  font-weight: 600;
  font-size: 1.25em;
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(1) img {
  width: 5.375em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(1) img {
    width: 6.375em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(2) img {
  width: 4.6875em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(2) img {
    width: 5.6875em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(3) img {
  width: 4.8125em;
  height: 3em;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(3) img {
    width: 5.8125em;
    height: 4em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(4) img {
  width: 6.8125em;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(4) img {
    width: 7.8125em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(5) img {
  width: 4.5625em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(5) img {
    width: 5.5625em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(6) img {
  width: 5.125em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(6) img {
    width: 6.125em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(7) img {
  width: 4.0625em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(1) .row_wrapper .row_content .column:nth-child(7) img {
    width: 5.0625em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) {
  margin-top: 1em;
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) h3 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) h3 {
    font-size: 1.8em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content {
    padding-top: 5.65em;
  }
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content {
    flex-direction: column;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column {
    padding-bottom: 2.2em;
  }
}
@media (max-width: 450px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column {
    padding-bottom: 2.3em;
  }
}
@media (max-width: 400px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column {
    padding-bottom: 2.8em;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column p {
  margin-left: 1.3em;
  font-size: 1.875em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column {
    flex-direction: column;
    align-items: center;
  }
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column:nth-child(3) img {
  width: 7.8125em;
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column:nth-child(2) img {
  width: 5.9375em;
}
section:nth-child(3) .container:nth-child(3) .row:nth-child(2) .row_content .column:nth-child(1) img {
  width: 4.375em;
}
section:nth-child(3) .container:nth-child(4) {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1em solid #FFA900;
}
section:nth-child(3) .container:nth-child(4) .row:nth-child(1) {
  display: flex;
  color: #FFA900;
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 1.625em;
}
@media (max-width: 767px) {
  section:nth-child(3) .container:nth-child(4) .row:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }
}
section:nth-child(3) .container:nth-child(4) .row:nth-child(1) .column:nth-child(1) {
  padding-right: 0.5em;
}
section:nth-child(3) .container:nth-child(4) .row:nth-child(2) {
  padding: 0.7em 0 1.625em 0;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

section:nth-child(4) {
  background-image: url(../img/main/3.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 1em solid #FFA900;
}
@media (max-width: 768px) {
  section:nth-child(4) {
    background-attachment: scroll;
  }
}
section:nth-child(4) .container {
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 2em;
}
@media (min-width: 1441px) {
  section:nth-child(4) .container {
    font-size: 20px;
  }
}
@media (max-width: 1439px) {
  section:nth-child(4) .container {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  section:nth-child(4) .container {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  section:nth-child(4) .container {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  section:nth-child(4) .container {
    font-size: 8px;
  }
}
section:nth-child(4) .container h2 {
  padding: 1.4em 0 0.4em 0;
  font-weight: bold;
  font-size: 3.5em;
  color: white;
}
section:nth-child(4) .container .yandex {
  margin: 0 auto;
  width: 730px;
  height: 800px;
}
@media (max-width: 768px) {
  section:nth-child(4) .container .yandex {
    width: 100%;
  }
}

section:nth-child(5) {
  background-image: url(../img/main/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 0.5em solid black;
}
@media (max-width: 768px) {
  section:nth-child(5) {
    background-attachment: scroll;
  }
}
@media (min-width: 1441px) {
  section:nth-child(5) {
    font-size: 20px;
  }
}
@media (max-width: 1439px) {
  section:nth-child(5) {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  section:nth-child(5) {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  section:nth-child(5) {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  section:nth-child(5) {
    font-size: 8px;
  }
}
section:nth-child(5) .container {
  max-width: 95%;
  margin: 0 auto;
}
section:nth-child(5) .container .row:nth-child(1) h2 {
  padding: 1.4em 0 0.4em 0;
  font-weight: bold;
  font-size: 3.5em;
  color: white;
}
section:nth-child(5) .container .row:nth-child(2) {
  padding-bottom: 2em;
}
section:nth-child(5) .container .row:nth-child(2) .yandex_cards {
  width: 100%;
  height: 700px;
  border: 0;
}
@media (max-width: 575px) {
  section:nth-child(5) .container .row:nth-child(2) .yandex_cards {
    height: 500px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1439px) {
  section:nth-child(6) {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  section:nth-child(6) {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  section:nth-child(6) {
    font-size: 6px;
  }
}
section:nth-child(6) .container {
  border-bottom: 0.5em solid black;
}
section:nth-child(6) .container .row:nth-child(1) {
  background-color: #FFA900;
  border-bottom: 0.5em solid black;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
@media (max-width: 450px) {
  section:nth-child(6) .container .row:nth-child(1) .row_wrapper {
    padding: 1.3em 0;
  }
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(1) {
  display: flex;
  align-items: center;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(1) .column_body:nth-child(1) img {
  width: 7em;
  margin-left: -0.7em;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(1) .column_body:nth-child(2) {
  font-weight: bold;
  font-size: 2.5em;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(1) .column_body:nth-child(2) a {
  text-decoration: none;
  display: block;
  color: black;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  align-items: center;
}
section:nth-child(6) .container .row:nth-child(1) .row_wrapper .column:nth-child(2) img {
  width: 6em;
}
section:nth-child(6) .container .row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 95%;
  margin: 0 auto;
}
section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) {
    flex-direction: column;
    align-items: flex-start;
  }
}
section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) img {
  margin-top: -1em;
  width: 19.25em;
  height: 6.25em;
}
@media (max-width: 767px) {
  section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) img {
    margin: 0;
  }
}
section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) p {
  font-weight: bold;
  font-size: 2.5em;
  margin: 0.2em 0 0 0.4em;
}
@media (max-width: 767px) {
  section:nth-child(6) .container .row:nth-child(2) .column:nth-child(1) p {
    margin: 0;
  }
}
section:nth-child(6) .container .row:nth-child(2) .column:nth-child(2) {
  display: flex;
}
@media (min-width: 768px) {
  section:nth-child(6) .container .row:nth-child(2) .column:nth-child(2) {
    margin-right: -2em;
  }
}
section:nth-child(6) .container .row:nth-child(2) .column:nth-child(2) .items {
  width: 5em;
  height: 9em;
  min-width: 1.5em;
  min-height: 3em;
  background-color: black;
  transform: rotate(45deg);
  transform: skew(-36deg, 0deg);
  margin-right: 6em;
}
@media (max-width: 767px) {
  section:nth-child(6) .container .row:nth-child(2) .column:nth-child(2) .items {
    height: 10em;
    width: 4em;
    margin-right: 3em;
  }
}

footer {
  background-color: black;
}
@media (max-width: 1439px) {
  footer {
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  footer {
    font-size: 9px;
  }
}
@media (max-width: 767px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  footer {
    font-size: 10px;
  }
}
footer .row:nth-child(1) {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4em 0 2em 0;
}
@media (max-width: 767px) {
  footer .row:nth-child(1) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 0;
  }
}
footer .row:nth-child(1) .column {
  padding: 1em 0;
}
footer .row:nth-child(1) .column:nth-child(1) a {
  text-decoration: none;
  color: white;
}
footer .row:nth-child(1) .column:nth-child(2) p {
  display: flex;
}
footer .row:nth-child(1) .column:nth-child(2) p a i {
  font-size: 1.1em;
  color: white;
}
footer .row:nth-child(2) {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
footer .row:nth-child(2) p {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}