@import "variables.scss";
section:nth-child(7) {
    @media (max-width: 1439px) {
        font-size: 12px;
    }
    @media (max-width: 992px) {
        font-size: 8px;
    }
    @media (max-width: 450px) {
        font-size: 6px;
    }
    .container {
        .row:nth-child(1) {
            background-color: $rootcolor;
            border-bottom: 0.5em solid black;
            .row_wrapper {
                max-width: 95%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding: 1em 0;
                @media (max-width: 450px) {
                    padding: 1.3em 0;
                }
                .column:nth-child(1) {
                    display: flex;
                    align-items: center;
                    .column_body:nth-child(1) {
                        img {
                            width: 7em;
                            margin-left: -0.7em;
                        }
                    }
                    .column_body:nth-child(2) {
                        font-weight: bold;
                        font-size: 2.5em;
                        a {
                            text-decoration: none;
                            display: block;
                            color: black;
                        }
                    }
                }
                .column:nth-child(2) {
                    display: flex;
                    justify-content: space-between;
                    flex-basis: 40%;
                    align-items: center;
                    img {
                        width: 6em;
                    }
                }
            }
        }
        .row:nth-child(2) {
            display: flex;
            justify-content: space-between;
            align-self: center;
            max-width: 95%;
            margin: 0 auto;
            .column:nth-child(1) {
                display: flex;
                align-items: center;
                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                img {
                    margin-top: -1em;
                    width: 19.25em;
                    height: 6.25em;
                    @media (max-width: 767px) {
                        margin: 0;
                    }
                }
                p {
                    font-weight: bold;
                    font-size: 2.5em;
                    margin: 0.2em 0 0 0.4em;
                    @media (max-width: 767px) {
                        margin: 0;
                    }
                }
            }
            .column:nth-child(2) {
                display: flex;
                @media (min-width: 768px) {
                    margin-right: -2em;
                }
                .items {
                    width: 5em;
                    height: 9em;
                    min-width: 1.5em;
                    min-height: 3em;
                    background-color: black;
                    transform: rotate(45deg);
                    transform: skew(-36deg, 0deg);
                    margin-right: 6em;
                    @media (max-width: 767px) {
                        height: 10em;
                        width: 4em;
                        margin-right: 3em;
                    }
                }
            }
        }
        border-bottom: 0.5em solid black;
    }
}
