.zakaz {
 align-self: center;
 text-align: end;
}
@media (max-width: 992px) {
    .zakaz {
        display: none;
    }
}
.navcolor {
    background-color: rgb(228, 228, 228);
    color: rgba(0,0,0,.9);
}
.logobody {
    height: 100px;
    background-color: rgb(235, 255, 251);
}
li {
    padding: 0 10px 0 10px;
}
