@font-face {
	font-family: 'PTRootUIWebRegular';
	src: url('PT%20Root%20UI_Regular.eot');
	src:
	     url('PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Regular.woff2') format('woff2'),
	     url('PT%20Root%20UI_Regular.woff') format('woff'),
	     url('PT%20Root%20UI_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media (max-width: 991px) {

    /* Навигационная панель */

    .mobilepanel {
        margin-top: 20px;
    }
    .imgmobile {
        margin-top: 30px;
    }
    .img2 {
        padding-right: 20px;
        margin-left: -4px;
    }
    .navfooter {
        margin-left: -20px;
        margin-top: 30px;
        margin-right: -15px;
    }
    .logo {
        margin-left: -7px;
    }
    .imgmobile {
        margin-top: 30px;
    }
    .img2 {
        padding-right: 20px;
    }
    #collapsibleNavbar {
        margin-left: 15px;
    }

}
@media (max-width: 424px) {

    /* Навигационная панель */

    .logo {
        font-size: 18px;
    }
    .mobilepanel {
        font-size: 14px;
    }
    #numbersmartphone {
        font-size: 18px;
        color: white;
    }

    /* Обложка */

    .image1 {
        margin-top: 80px;
        font-size: 2.3em;
        color: white;
    }
    .image2 {
        font-size: 1.3em;
        color: white;
    }
    
    .remont {
        background-image: url('../img/header.jpg');
        background-repeat: no-repeat;
        min-height: 350px;
        width: 100%;
        height: auto;
        background-size: cover;
    }
    

    /* Общее */

    .wrap {
        background-color: #ffffff;
        padding-top: 6em;
        padding-bottom: 6em;
    }
}
@media (min-width: 425px) {

    /* Навигационная панель */

    .logo {
        font-size: 22px;
    }
    .mobilepanel {
        font-size: 16px;
    }
    #numbersmartphone {
        font-size: 22px;
        color: white;
    }

    /* Обложка */

    .image1 {
        margin-top: 80px;
        font-size: 3.2em;
        color: white;
    }
    .image2 {
        font-size: 1.6em;
        color: white;
    }
    .remont {
        background-image: url('../img/header.jpg');
        background-repeat: no-repeat;
        min-height: 400px;
        width: 100%;
        height: auto;
        background-size: cover;
    }

    /* Общее */

    .wrap {
        background-color: #ffffff;
        padding-top: 6em;
        padding-bottom: 6em;
    }
}
@media (min-width: 768px) {

    /* Навигационна панель */

    .logo {
        font-size: 26px;
    }
    .mobilepanel {
        font-size: 18px;
    }
    #numbersmartphone {
        font-size: 26px;
        color: white;
    }

    /* Обложка */

    .image1 {
        margin-top: 100px;
        font-size: 5.3em;
        color: white;
    }
    .image2 {
        font-size: 2.1em;
        color: white;
    }
    .remont {
        background-image: url('../img/header.jpg');
        background-repeat: no-repeat;
        min-height: 500px;
        width: 100%;
        height: auto;
        background-size: cover;
    }
}

@media (min-width: 992px) {

    /* Навигационная панель */

    .logo {
        font-size: 20px;
    }
    .mobilepanel {
        font-size: 15px;
    }
    .navbar-nav li {
        padding-right: 4px;
    }
    .time {
        color: white;
        font-size: 18px;
        text-align: right;
    }
    .imgsoc {
        margin-left: -1px;
    }
    .alarm {
        margin-left: -3px;
    }
    .alarm {
        font-size: 0.97em;
        margin-left: -1px;
    }
    .li1 {
        margin-right: -23px;
    }
    #mobile {
        color: white;
    }
    #mobile:hover {
        color: whitesmoke;
    }
    .logo {
        margin-left: -7px;
    }

    /* Обложка */

    .image1 {
        margin-top: 80px;
        font-size: 6.3em;
        color: white;
    }
    .image2 {
        font-size: 2.3em;
        color: white;
    }
    .remont {
        background-image: url('../img/header.jpg');
        background-repeat: no-repeat;
        min-height: 500px;
        width: 100%;
        height: auto;
        background-size: cover;
    }

    /* Общее */

    .wrap {
        padding: 6em 2em;
        background-color: #ffffff;
    }
    .container-fluid {
        padding: 1em;
    }
}


/* Общие */

body {
    width: 100%;
    height: 100%;
    color: black;
    font-family: PTRootUIWebRegular;
    position: relative;
    background-color: rgb(241, 241, 241);
    
}

.h2 {
    font-size: 42px;
    padding-bottom: 0.5em;
}
.h3 {
    margin: 20px auto;
}

hr {
    background-color: white;
}
.row {
    margin: 0px;
}   

/* Навигационная панель */

.navcontent {
    background-color: #1493A5;
}
    /* navanimation */

.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:#ffffff;
    transition: 0.4s;
}
.nav-item:hover::after{
    width:100%;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#ffffff;}
.nav-link{
    padding:15px 5px;
    transition:0.2s;
}


/* Main */

main>section {
    margin-top: 80px;
    margin-bottom: 80px;
} 


/* Почему я? */

#my {
    background-color: rgb(238, 245, 255) !important;
}
.text {
    font-size: 20px;
    line-height: 32px;
    /* padding: 0px; */
}
.card-text {
    font-size: 1.07em;
}


/* Цены */

.bgprices {
    background-color: rgb(243, 253, 252) !important;
}

.trbody:hover {
    background-color: rgb(133, 231, 226);
}

    /* Таблица */

.collaspecard {
    padding: 0px;
}
.buttoncollapse {
    padding: 10px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}
.trhead {
    background-color: rgb(143, 226, 219);
}
.trbody {
    background-color: rgb(226, 250, 250);
}
.table {
    margin: 0px;
}
/* Отзывы */
.reviews {
    background-color: rgb(238, 255, 254);
}
#reviews > div:nth-child(2) > div > div > div > div.swiper-wrapper > div.swiper-slide.swiperreviews.swiper-slide-active {
    background-color: rgb(218, 255, 251);
}
/* Слайдер */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    height: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.imgswiper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    border: 2px solid #1493A5;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.swiperwork1 {
    background-color: rgb(238, 255, 254);
}
.swiperreviewscol {
    padding: 0px;
    background-color: rgb(238, 255, 254);
}

/* Примеры работ */

.swiperwork {
    background-color: rgb(243, 244, 253);
}
.swiperimg {
    width: 100%;
    height: auto;
}
.swipercol {
    border: 2px solid #1493A5;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}
.swipertext {
    font-size: 23px;
    padding-top: 5px;
}
#reviews > div:nth-child(2) > div > div > div {
    padding-bottom: 45px;
}
#examplesofworks > div.swiper-container.work.swiper-container-initialized.swiper-container-horizontal.swiper-container-autoheight {
    padding-bottom: 45px;
}

/* footer */
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
