body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: black
}
.navcontent {
    background-color: #1493A5;
}
.logo {
    font-size: 24px;
    margin-left: -7px;
}
.nav-link {
    font-size: 1.12em !important;
}
.navbar-nav li {
    padding-right: 3px;
}
.time {
    color: white;
    font-size: 18px;
    text-align: right;
}
.imgsoc {
    margin-left: -1px;
}
.alarm {
    margin-left: -3px;
}
.li1 {
    margin-right: -23px;
}
#collapsibleNavbar {
    margin-left: 15px;
}
#mobile {
    color: white;
}
#mobile:hover {
    color: whitesmoke;
}
#numbersmartphone {
    font-size: 22px;
    color: white;
}
#numbersmartphone:hover {

}
.smartphone {
    margin-left: -22px;
    padding-left: 0px;

}
.imgsmartphone {
	margin-left: -5px;
}
