@import "../../../scss/variables.scss";
main {
    section:nth-of-type(2) {
        background-color: $mainColorSeconday;
        padding: 5em 0;
        @media (max-width: 992px) {
            font-size: 12px;
        }
        @media (max-width: 768px) {
            font-size: 10px;
        }
        @media (max-width: 576px) {
            font-size: 8px;
        }
        .wrapper {
            @include maxWidth;
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 9.375em;
                    margin-bottom: 1em;
                }
                h1 {
                    font-size: 4.5em;
                    color: black;
                    font-weight: 500;
                    font-family: "Montserrat", sans-serif;
                    width: 14em;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    text-align: center;
                }
                a {
                    font-size: 1.875em;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    text-decoration: none;
                    color: $mainColorWhite;
                    background-color: $mainColorRed;
                    padding: 0.53em;
                    border-radius: 0.267em;
                    margin-top: 2.43em;
                }
            }
        }
    }
}