main {
  section:nth-child(7) {
    .container-fluid {
      font-size: 316px;
      @media (max-width: 1700px) {
        font-size: 250px;
      }
      @media (max-width: 1440px) {
        font-size: 180px;
      }
      @media (max-width: 992px) {
        font-size: 120px;
      }
      @media (max-width: 768px) {
        font-size: 80px;
      }
      @media (max-width: 500px) {
        font-size: 60px;
      }
      @media (max-width: 400px) {
        font-size: 50px;
      }
      .row:nth-child(1) {
        background-image: url(../../img/main/4.png);
        @media (min-width: 992px) {
          background-attachment: fixed;
          background-size: cover;
        }
        height: 1em;
      }
      .row:nth-child(2) {
        background-color: #547c7a;
        height: 1.32em;
        color: white;
        .phone {
          color: white;
        }
        .col-7 {
          h2 {
            font-size: 0.443em;
          }
        }
        .col-5 {
          font-size: 0.253em;
          i {
            color: white;
          }
        }
      }
    }
  }
}
