footer {
  .container-fluid {
    font-size: 100px;
    background-color: #1c181a;
    padding: 0;
    .row {
      margin: 0px;
      font-size: 100px;
      height: 3.8em;
      @media (min-width: 992px) {
        justify-content: space-around;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        justify-content: space-between;
      }
      @media (min-width: 2100px) {
        font-size: 120px;
      }
      @media (max-width: 1700px) {
        font-size: 80px;
        height: 3.9em;
      }
      @media (max-width: 1440px) {
        font-size: 60px;
        height: 3.6em;
      }
      @media (max-width: 1140px) {
        font-size: 50px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 38px;
      }
      @media (max-width: 767px) {
        font-size: 60px;
        text-align: center;
        height: 4.7em;
      }
      @media (max-width: 575px) {
        font-size: 55px;
        padding: 5px 0;
      }
      @media (max-width: 450px) {
        font-size: 47px;
      }
      color: white;
      .phone {
        color: white;
      }
      .col-md-3 {
        &:nth-child(1) {
          @media (min-width: 768px) {
            padding-left: 20px;
          }
        }
        font-size: 0.25em;
        i {
          color: white;
        }
      }
    }
  }
}
