$navcolor: #001c29;
$colorlink: rgba(255, 255, 255, 0.6);
$colorlink_hover: rgba(0, 255, 212, 0.6);
$colorwhite: #ffffff;
body {
  font-family: 'Open Sans', sans-serif;
}
.navpanel {
  font-size: calc(6px + (10 + 10 * 0.3) * ((100vw - 320px) / 1920));
  @media (max-width: 991px) {
  font-size: calc(9px + (12 + 12 * 0.1) * ((100vw - 320px) / 1920));
  }
  background-color: $navcolor;
  color: $colorwhite;
  align-items: center;
  padding: .8em 2.5em;
  .navbar {
    padding: 0;
    ul {
      @media (max-width: 991px) {
        padding: 2em 0;
        }
    }
    div:nth-child(1) {
      padding-right: 0.5em;
      @media (max-width: 991px) {
        padding: 0;
        }
      font-size: 2.19em;
      #logo {
        color: $colorwhite;
        text-decoration: none;
        &:hover {
          color: rgba($color: #00ffd4, $alpha: 0.9);
        }
      }
    }
    .nav-link {
      font-size: 1.25em;
      @media (max-width: 991px) {
        font-size: 2em;
        }
      margin-left: 0.5em;
      &:hover {
        color: rgba($color: #00ffd4, $alpha: 0.7);
        margin-top: -0.1875em;
        border-bottom: 3px solid rgba($color: #00ffd4, $alpha: 0.7);
        transition-duration: 0.2s;
      }
    }
    #nonelg {
      p {
        margin: 0;
        a {
          color: white;
          font-size: 2.8em;
          i {
            &:before {
              margin: 0 .55em 0 0;
            }
          }
        }
      }
    }
  }
  .col-auto {
    padding: 0;
  }
  .column {
    font-size: 1.25em;
    line-height: 1.8em;
    p {
      margin: 0;
    }
    p:nth-child(1) {
      color: #00a48f;
    }
    .clock {
      width: 1.8em;
    }
    i {
      padding-top: 0.625em;
      &:before {
        margin: 0;
        font-size: 1.3em;
      }
      #clock {
        &:before {
          font-size: 2em;
        }
      }
    }
    .items_phone {
      padding-left: 2.19em;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgba($color: #00ffd4, $alpha: 0.7);
        }
      }
      .phone {
        margin-left: -0.625;
      }
    }
  }
}
