$colortext: #ffffff;
main {
  section:nth-child(2) {
    color: $colortext;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 3500px) {
      font-size: 50px;
    }
    font-size: 30px;
    @media (max-width: 1600px) {
      font-size: 26px;
    }
    @media (max-width: 1300px) {
      font-size: 20px;
    }
    @media (max-width: 992px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      background-image: url(../img/main/3mobile.png);
    }
    @media (min-width: 768px) {
      background-image: url(../img/main/3.png);
      @media (min-width: 3500px) {
        height: 50em;
      }
    }
    .container-fluid {
      @media (max-width: 767px) {
        padding: 6em 0 6em 1.2em;
      }
      @media (min-width: 768px) {
        padding: 5em 0 5em 0;
      }
      @media (min-width: 1700px) {
        padding: 8.83em 0 10em 0;
      }
      .row {
        margin-right: 0px;
        .col-12 {
          padding: 0 25px 0 20px;
          div {
            margin-top: -10px;
          }
        }
      }
      @media (min-width: 768px) {
        .row {
          margin-left: 45%;
        }
      }
      h2 {
        font-size: 2.3em;
      }
      .line1 {
        width: 15.13em;
        height: 3.87em;
        margin: -1.7em 0 0 -2em;
        opacity: 0.4;
      }
    }
  }
}
