$bordershadow: rgba(127, 176, 176, 0.6);
$bordercolor: rgba(127, 176, 176, 0.55);
$bordercolormin: #76b6b3;
main {
  section:nth-child(3) {
    font-size: 30px;
    background-image: url(../img/main/4.png);
    @media (min-width: 992px) {
      background-attachment: fixed;
    }
    @media (max-width: 991px) {
      background-size: cover;
    }
    .row:nth-child(1) {
      padding: 2.72em 0 2.33em 0;
      .card {
        @media (max-width: 992px) {
          padding: 0px;
        }
      }
      @media (max-width: 1199px) {
        .col-md-6:nth-child(n):not(:nth-last-child(1)) {
          padding: 0 4em 1em 4em;
        }
        .col-md-3 {
          padding: 0 1em 0 1em;
        }
      }
      @media (max-width: 992px) {
        .col-md-6:nth-child(n):not(:nth-last-child(1)) {
          padding: 0 3em 1em 3em;
        }
        .col-md-3 {
          padding: 0;
        }
      }
      @media (max-width: 767px) {
        .col-md-6:nth-child(n):not(:nth-last-child(1)) {
          padding: 0;
        }
        .col-md-3 {
          padding: 0;
        }
      }
      .card {
        background: none;
        vertical-align: middle;
        @media (max-width: 767px) {
          margin-top: 20px;
        }
        h3 {
          font-weight: 300;
          line-height: 30px;
        }
        .card-body {
          @media (max-width: 767px) {
            border: 9px inset rgba(102, 154, 151, 0.9);
            border-radius: 9px;
          }
        }
        #bordershadov {
          @media (min-width: 1200px) {
            padding-bottom: 55px;
          }
          @media (min-width: 768px) {
            border: 5px solid $bordercolor;
            border-radius: 1px;
            box-shadow: inset 0 0 1em $bordershadow, 0 0 1em $bordershadow;
            margin: -5px -48px 0 0;
            padding-bottom: 45px;
          }
          @media (max-width: 767px) {
            border: 9px solid $bordercolormin;
            border-radius: 5px;
          }
        }
        .card-text {
          position: relative;
          color: white;
          @media (max-width: 1750px) {
            font-size: 24px;
          }
          @media (max-width: 1450px) {
            font-size: 22px;
          }
          @media (max-width: 1220px) {
            font-size: 20px;
          }
          @media (max-width: 1199px) {
            text-align: center;
          }
          @media (max-width: 425px) {
            font-size: 16px;
          }
          @media (max-width: 767px) {
            margin-top: 0px;
          }
          font-size: 1em;
          font-weight: 400;
          margin-top: 25px;
        }
      }
    }
  }
  .line {
    height: 127px;
    width: 84%;
    margin: -135px 0 0 -15px;
    @media (max-width: 1300px) {
        margin-left: 0px;
    }
    @media (max-width: 1200px) {
        display: none;
    }
  }
}
