$colorh1: white;
$colorh2: #baf9f9;
main {
    section:nth-child(1) {
        font-size: 100px;
        background-image: url(../img/main/1.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        transition-duration: 1s;
        @media (max-width: 992px) {
            background-attachment: scroll;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container-fluid {
            @media (max-width: 1200px) {
                max-width: 85%;
                margin: 0 auto;
            }
            padding: 0;
            .row {
                align-items: flex-end;
                @media (min-width: 1201px) {
                    margin: 80px 0 0 .95em;
                }
                img {
                    font-size: calc(37px + (60 + 60 * 0.3) * ((100vw - 320px) / 1920));
                    margin-left: -80px;
                    @media (min-width: 768px) and (max-width: 1200px) {
                        margin-left: -63px;
                    }
                    min-width: 8em;
                    @media (max-width: 767px) {
                        width: 10em;
                        height: 9em;
                        margin: 0;
                    }
                }
                .wrapper {
                    position: absolute;
                    @media (max-width: 767px) {
                        margin-top: 15px;
                    }
                    div {
                        max-width: 78%;
                        margin: 0 auto;
                        @media (max-width: 767px) {
                            max-width: 100%;
                        }
                        color: white;
                        h1 {
                            font-size: calc(39px + (65 + 65 * 0.3) * ((100vw - 320px) / 1920));
                            margin-bottom: -4%;
                        }
                        h2 {
                            font-size: calc(35px + (60 + 60 * 0.3) * ((100vw - 320px) / 1920));
                            margin-bottom: 40px;
                            color: #BAF9F9;
                        }
                    }
                }
            }
        }
    }
}
