$backcolor: #1c181a;
$caruselcolor: #669a97;
main {
  section:nth-child(6) {
    .row:nth-child(1) {
      font-size: 70px;
      @media (max-width: 1700px) {
        font-size: 55px;
      }
      @media (max-width: 1440px) {
        font-size: 50px;
      }
      @media (max-width: 1200px) {
        font-size: 40px;
      }
      @media (max-width: 768px) {
        font-size: 35px;
      }
      background-color: $backcolor;
      padding: 1em 0 0 2.15em;
      @media (max-width: 992px) {
        padding: 1em 0 0 0;
      }
      .col {
        h2 {
          color: white;
          font-size: 1em;
        }
        img {
          width: 6em;
          margin: -1.6em 0 0 -0.77em;
        }
      }
    }
    .row:nth-child(2) {
      background-color: $caruselcolor;
      margin-top: -2.5em;
      @media (max-width: 1200px) {
        font-size: 10px;
      }
      #swiperphone {
        padding: 50px 0 50px 0;
      }
      #swiperphone > div > div.swiper-pagination.swiper-pagination-progressbar > span {
        background-color: $backcolor;
        height: 6px;
      }
      .col-11,
      .col-md-5 {
        font-size: 500px;
        .workphone {
          width: 1.2em;
          height: 0.9em;
          @media (max-width: 650px) {
            font-size: 380px;
          }
          @media (max-width: 500px) {
            font-size: 330px;
          }
          @media (max-width: 425px) {
            font-size: 287px;
          }
          @media (max-width: 370px) {
            font-size: 270px;
          }
          @media (max-width: 350px) {
            font-size: 240px;
          }
          .swiper-button-next:after, .swiper-button-prev:after {
            color: $backcolor;
          }
          
        }
        .work1,
        .work2, {
          font-size: 70px;
          width: 9.3em;
          height: 13.5em;
          @media (min-width: 2000px) {
            font-size: 90px;
          }
          @media (max-width: 1600px) {
            font-size: 55px;
          }
          @media (max-width: 1250px) {
            font-size: 43px;
          }
          @media (max-width: 1000px) {
            font-size: 37px;
          }
          @media (max-width: 850px) {
            font-size: 31px;
          }
          @media (max-width: 767px) {
            font-size: 50px;
          }
          @media (max-width: 550px) {
            font-size: 40px;
          }
          @media (max-width: 450px) {
            font-size: 34px;
          }
          @media (max-width: 400px) {
            font-size: 29px;
          }
        }
      }
    }
  }
}
