$containerbackcolor: #547c7a;
$colcolor: #333333;
$bordercolor: #e8fdff;
$colordiv: #00b0b5;
main {
    section:nth-child(4) {
        font-size: 40px;
        @media (min-width: 3500px) {
            font-size: 60px;
        }
        .contaiter-fluid {
            background-color: $containerbackcolor;
            @media (min-width: 991px) {
                padding: 0 0 1em 0;
            }
            @media (max-width: 991px) {
                padding: 0.25em 0 1em 0;
            }
            @media (max-width: 575px) {
                padding: 0.15em 0.1em 0.62em 0.125em;
            }
            .row:nth-child(1) {
                margin: 0px;
                h2 {
                    font-size: 3.75em;
                    @media (max-width: 1510px) {
                        font-size: 120px;
                    }
                    @media (max-width: 1110px) {
                        font-size: 90px;
                    }
                    @media (max-width: 500px) {
                        font-size: 60px;
                    }
                    color: white;
                }
            }
            .row:nth-child(2) {
                button {
                    &:focus {
                        outline: 0px;
                    }
                }
                font-size: 100px;
                @media (max-width: 1700px) {
                    font-size: 70px;
                }
                @media (max-width: 1200px) {
                    font-size: 60px;
                }
                @media (max-width: 992px) {
                    font-size: 50px;
                }
                @media (max-width: 576px) {
                    font-size: 40px;
                }
                @media (max-width: 400px) {
                    font-size: 36px;
                }
                margin: 0px;
                .col-5 {
                    left: 0.47em;
                    @media (max-width: 1700px) {
                        left: 0.5em;
                    }
                    @media (max-width: 1200px) {
                        left: 0.52em;
                    }
                    @media (max-width: 992px) {
                        left: 0.55em;
                    }
                    @media (max-width: 576px) {
                        left: 0.45em;
                    }
                    z-index: 1;
                    .container-fluid {
                        padding: 0px;
                        .row {
                            justify-content: flex-end;
                            .col-lg-2 {
                                @media (max-width: 576px) {
                                    padding: 10px;
                                }
                                background-color: $colcolor;
                                border: 0.03125em solid $bordercolor;
                                border-radius: 0.42em;
                                #green1 {
                                    padding: 0px;
                                    background-color: $colordiv;
                                    border: 0px;
                                    border-radius: 1.05em;
                                    height: 0.66em;
                                    width: 0.3em;
                                }
                            }
                            .col-lg-4 {
                                background-color: $colcolor;
                                border: 0.03125em solid $bordercolor;
                                border-radius: 0.42em;
                                @media (max-width: 425px) {
                                    padding: 0 7px 0 7px;
                                }
                                .container-fluid {
                                    padding: 0px;
                                    .row {
                                        padding: 0px;
                                        align-items: center;
                                        height: 2em;
                                        .col {
                                            padding: 0px;
                                            font-size: 0.38em;
                                            text-align: center;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .col-7 {
                    left: -0.47em;
                    @media (max-width: 1700px) {
                        left: -0.5em;
                    }
                    @media (max-width: 1200px) {
                        left: -0.52em;
                    }
                    @media (max-width: 992px) {
                        left: -0.55em;
                    }
                    @media (max-width: 576px) {
                        left: -0.76em;
                    }
                    padding: 0px;
                    .container-fluid {
                        padding: 0px;
                        .row {
                            justify-content: start;
                            .col-auto {
                                padding: 0;
                                img {
                                    width: 0.8em;
                                    height: 1em;
                                }
                            }
                            .col-lg-7 {
                                background-color: $colcolor;
                                border: 0.03125em solid $bordercolor;
                                border-radius: 0.42em;
                                .container-fluid {
                                    padding: 0px;
                                    .row {
                                        padding: 0px;
                                        align-items: center;
                                        height: 2em;
                                        .col-10 {
                                            padding: 0px;
                                            font-size: 0.38em;
                                            text-align: center;
                                            color: white;
                                        }

                                        #green2 {
                                            padding: 0px;
                                            background-color: $colordiv;
                                            border: 0px;
                                            border-radius: 1.05em;
                                            width: 0.3em;
                                            height: 0.66em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
