main {
  section:nth-child(7) {
    .container-fluid {
      font-size: 265px;
      @media (max-width: 1700px) {
        font-size: 220px;
      }
      @media (max-width: 1440px) {
        font-size: 150px;
      }
      @media (max-width: 992px) {
        font-size: 110px;
      }
      @media (max-width: 768px) {
        font-size: 83px;
      }
      @media (max-width: 500px) {
        font-size: 60px;
      }
      @media (max-width: 400px) {
        font-size: 50px;
      }
      .row:nth-child(1) {
        @media (max-width: 991px) {
          background-color: #1c181a;
        }
        @media (min-width: 992px) {
          background-attachment: fixed;
          background-size: cover;
          background-image: url(../img/main/4.png);
        }
        height: 1em;
      }
      .row:nth-child(2) {
        padding: 5px 0 5px 0;
        background-color: #547c7a;
        @media (min-width: 576px) {
          height: 1.32em;
        }
        color: white;
        .phone {
          color: white;
        }
        .col-sm-7 {
          h2 {
            font-size: 0.443em;
            @media (max-width: 575px) {
              font-size: 0.5em;
            }
          }
        }
        .col-sm-5 {
          @media (max-width: 575px) {
            font-size: 0.4em;
          }
          font-size: 0.253em;
          i {
            color: white;
          }
        }
      }
    }
  }
}
