$colortext: #ffffff;
main {
  section:nth-child(2) {
    font-size: 30px;
    @media (max-width: 1600px) {
      font-size: 26px;
    }
    @media (max-width: 1300px) {
      font-size: 20px;
    }
    @media (max-width: 992px) {
      font-size: 15px;
    }

    font-weight: 400;
    color: $colortext;
    @media (max-width: 767px) {
      background-image: url(../img/main/3mobile.png);
    }
    @media (min-width: 768px) {
      background-image: url(../img/main/3.png);
    }
    background-size: cover;
    background-repeat: no-repeat;
    .container-fluid {
      @media (max-width: 767px) {
        padding: 6em 0 6em 1.2em;
      }
      @media (min-width: 768px) {
        padding: 5em 0 5em 0;
      }
      @media (min-width: 1700px) {
        padding: 8.83em 0 10em 0;
      }
      .row {
        margin-right: 0px;
      }
      @media (min-width: 768px) {
        .row {
          margin-left: 45%;
        }
      }
      h2 {
        font-size: 2.3em;
      }
      .line1 {
        width: 15.13em;
        height: 3.87em;
        margin: -2em 0 0 -1.87em;
      }
    }
  }
}
