@import "../variables.scss";
main {
    section:nth-of-type(2) {
        // height: 90vh;
        background-color: $mainColorSeconday;
        border-top: 0.5625em solid $mainColorRed;
        .wrapper_line {
            width: 100%;
            height: 2.125em;
            border-bottom: 0.5625em solid $mainColorRed;
            margin-bottom: 6.5em;
        }
        .wrapper {
            width: 100%;
            @include maxWidth;
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-pagination {
                    margin: 3.375em 0;
                    position: static;
                    .swiper-pagination-bullet {
                        background-color: #610000;
                        width: 1.375em;
                        height: 1.375em;
                    }
                }
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 31.25em;
                    background-color: $mainColorRed;
                    border-radius: 1.5em;
                    &:hover {
                        background-color: #970000;
                        .row:nth-of-type(2) {
                            background-color: #ebbf8e;
                        }
                    }
                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        text-decoration: none;
                        .row {
                            &:nth-of-type(1) {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                .clideOne {
                                    width: 11.5625em;
                                }
                                .clideTo {
                                    width: 7.7075em;
                                }
                                .clideThree {
                                    width: 9.0625em;
                                }
                                .clideFour {
                                    width: 17.625em;
                                }
                                .clideFive {
                                    wwidth: 8.9375em;
                                }
                            }
                            &:nth-of-type(2) {
                                height: 8.5625em;
                                background-color: $swiperMainColorFooter;
                                border-radius: 1em;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                span {
                                    font-family: "Montserrat", sans-serif;
                                    font-size: 1.5em;
                                    color: black;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
