@font-face {
  font-family: "Blago";
  src: url("../../fonts/BLAGO_NK.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@keyframes menuAnimationMenuOn {
  0% {
    height: 15.15em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes menuAnimationMenuOff {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 15.15em;
    opacity: 1;
  }
}
@keyframes menuAnimationCatalogOff {
  0% {
    height: 24.5em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes menuAnimationCatalogOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 24.5em;
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 8px;
  }
}
body header {
  background-color: #610000;
  position: fixed;
  width: 100%;
  z-index: 10;
}
body header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
@media (min-width: 1481px) {
  body header .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  body header .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
body header .container .column:nth-child(1) {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  body header .container .column:nth-child(1) {
    font-size: 0.85em;
  }
}
body header .container .column:nth-child(1) img {
  width: 3.4375em;
  margin-right: 1.1875em;
}
@media (max-width: 768px) {
  body header .container .column:nth-child(1) img {
    margin-right: 1em;
  }
}
body header .container .column:nth-child(1) span {
  font-size: 1.8125em;
  color: #faedde;
  font-family: "Blago";
}
body header .container .column:nth-child(2) {
  display: none;
}
body header .container .column:nth-child(2) .row:nth-of-type(1) {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.5em 1em;
  border: 0.0625em solid #ffffff;
  border-radius: 0.4375em;
}
body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(1) {
  margin-right: 0.75em;
  margin-top: 0.1875em;
}
body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(1) span {
  font-size: 1.1875em;
  color: #ffffff;
  font-family: "Blago";
}
body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(2) {
  display: flex;
  align-items: center;
}
body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(2) img {
  height: 1.125em;
  width: 0.3125em;
}
body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(2) img:nth-of-type(1), body header .container .column:nth-child(2) .row:nth-of-type(1) .box:nth-of-type(2) img:nth-of-type(2) {
  margin-right: 0.25em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) {
  background-color: #610000;
  position: fixed;
  border-radius: 0.5em;
  top: 6.5em;
  overflow: hidden;
}
@media (max-width: 992px) {
  body header .container .column:nth-child(2) .row:nth-of-type(2) {
    left: 0;
    top: 5em;
  }
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper {
  padding: 1em 0.5em;
  font-size: 1.5em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(1) img {
  width: 0.625em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(1) img:nth-of-type(2), body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(1) img:nth-of-type(3) {
  margin-left: 0.5em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li {
  padding: 0.1875em 0.875em;
  border: 0.0625em solid #ffffff;
  border-radius: 0.3125em;
  font-size: 1em;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li a:hover {
  color: white;
  font-weight: 700;
}
body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li:nth-of-type(1), body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li:nth-of-type(2), body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li:nth-of-type(3), body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li:nth-of-type(4), body header .container .column:nth-child(2) .row:nth-of-type(2) .wrapper .row_catalog:nth-of-type(2) ul li:nth-of-type(5) {
  margin-bottom: 0.1875em;
}
body header .container .column:nth-child(3) {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 992px) {
  body header .container .column:nth-child(3) {
    display: none;
  }
}
body header .container .column:nth-child(3) nav ul {
  display: flex;
  align-items: center;
}
body header .container .column:nth-child(3) nav ul li:nth-of-type(n) {
  margin-right: 1.6875em;
}
body header .container .column:nth-child(3) nav ul li:nth-last-of-type(1) {
  margin-right: 0;
}
body header .container .column:nth-child(3) nav ul a {
  text-decoration: none;
  font-size: 1.125em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
body header .container .column:nth-child(3) nav ul a:nth-last-child(1) {
  display: flex;
  align-items: center;
}
body header .container .column:nth-child(3) nav ul a:nth-last-child(1) .trashBox {
  margin-left: 0.3em;
  display: flex;
  position: relative;
}
body header .container .column:nth-child(3) nav ul a:nth-last-child(1) .trashBox img {
  width: 2.1em;
}
body header .container .column:nth-child(3) nav ul a:nth-last-child(1) .trashBox span {
  font-size: 1em;
  position: absolute;
  right: 0.33em;
  bottom: -0.28em;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}
body header .container .column:nth-child(3) .box {
  display: flex;
  align-items: center;
  text-decoration: none;
}
body header .container .column:nth-child(3) .box img {
  width: 0.5375em;
}
body header .container .column:nth-child(3) .box img:nth-of-type(1) {
  margin-right: 0.5375em;
}
body header .container .column:nth-child(3) .box img:nth-of-type(2) {
  margin-left: 0.5375em;
}
body header .container .column:nth-child(3) .box span {
  font-size: 1.5em;
  color: #faedde;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 992px) {
  body header .container .column_menu {
    display: none;
  }
}
body header .container .column_menu .box:nth-of-type(1) {
  position: relative;
}
body header .container .column_menu .box:nth-of-type(1) img {
  width: 3em;
}
body header .container .column_menu .box:nth-of-type(1) span {
  font-size: 1.3em;
  position: absolute;
  right: 0.38em;
  bottom: -0.2em;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}
@media (min-width: 992px) {
  body header .container #burger {
    display: none;
  }
}
body header .container #burger span {
  display: block;
  background-color: #ffffff;
  width: 3.75em;
}
@media (max-width: 992px) {
  body header .container #burger span {
    height: 4px;
  }
  body header .container #burger span:nth-of-type(2) {
    margin: 9px 0;
  }
}
@media (max-width: 576px) {
  body header .container #burger span {
    height: 4px;
  }
  body header .container #burger span:nth-of-type(2) {
    margin: 7px 0;
  }
}
@media (max-width: 430px) {
  body header .container #burger span {
    height: 3px;
  }
  body header .container #burger span:nth-of-type(2) {
    margin: 6px 0;
  }
}
body header .container #header_menu {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 5em;
  background-color: #610000;
  border-radius: 0.5em;
}
body header .container #header_menu .wrapper {
  padding: 1em 0.5em;
}
body header .container #header_menu .wrapper .row {
  display: flex;
  justify-content: flex-end;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) {
  padding: 0 0 1em 0;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) img {
  width: 1em;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) img:nth-of-type(2), body header .container #header_menu .wrapper .row:nth-of-type(1) img:nth-of-type(3) {
  margin-left: 0.57em;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li {
  font-size: 1.5em;
  border: 0.0625em solid #ffffff;
  border-radius: 0.3125em;
  padding: 0.0344em 1.375em;
  width: 11em;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li a:hover {
  color: white;
  font-weight: 700;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(1), body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(2), body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(3) {
  margin-bottom: 0.25em;
}
body header .container .header_menu_no_active {
  display: none;
}
body header .container .header_menu_active {
  animation-duration: 0.3s;
  animation-name: menuAnimationMenuOn;
  animation-fill-mode: forwards;
}
body header .container .header_menu {
  animation-duration: 0.3s;
  animation-name: menuAnimationMenuOff;
  animation-fill-mode: forwards;
}
body header .container #header_menu {
  position: fixed;
  right: 0;
  top: 5em;
  background-color: #610000;
  border-radius: 0.5em;
}
body header .container #header_menu .wrapper {
  padding: 1em 0.5em;
}
body header .container #header_menu .wrapper .row {
  display: flex;
  justify-content: flex-end;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) {
  padding: 0 0 1em 0;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) img {
  width: 1em;
}
body header .container #header_menu .wrapper .row:nth-of-type(1) img:nth-of-type(2), body header .container #header_menu .wrapper .row:nth-of-type(1) img:nth-of-type(3) {
  margin-left: 0.57em;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: 0.0625em solid #ffffff;
  border-radius: 0.3125em;
  padding: 0.0344em 1.375em;
  width: 11em;
}
body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(1), body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(2), body header .container #header_menu .wrapper .row:nth-of-type(2) ul li:nth-of-type(3) {
  margin-bottom: 0.25em;
}
body header .container .header_catalog_no_active {
  display: none;
}
body header .container .header_catalog_active {
  animation-duration: 0.3s;
  animation-name: menuAnimationCatalogOn;
  animation-fill-mode: forwards;
}
body header .container .header_catalog {
  animation-duration: 0.3s;
  animation-name: menuAnimationCatalogOff;
  animation-fill-mode: forwards;
}

@font-face {
  font-family: "Blago";
  src: url("../../fonts/BLAGO_NK.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@keyframes menuAnimationMenuOn {
  0% {
    height: 15.15em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes menuAnimationMenuOff {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 15.15em;
    opacity: 1;
  }
}
@keyframes menuAnimationCatalogOff {
  0% {
    height: 24.5em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes menuAnimationCatalogOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 24.5em;
    opacity: 1;
  }
}
main section:nth-of-type(1) {
  padding-top: 6.6em;
}
@media (max-width: 992px) {
  main section:nth-of-type(1) {
    padding-top: 5.4em;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(1) {
    padding-top: 5.4em;
  }
}
@media (max-width: 768px) {
  main section:nth-of-type(1) {
    padding-top: 5em;
  }
}
main section:nth-of-type(1) .row:nth-of-type(1) {
  width: 100%;
  height: 2.875em;
}
@media (min-width: 768px) {
  main section:nth-of-type(1) .row:nth-of-type(1) {
    background-color: #934343;
    background-image: url(../../img/Catalog/lineTop.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}
@media (max-width: 767px) {
  main section:nth-of-type(1) .row:nth-of-type(1) {
    background-color: #faedde;
    height: 1.5em;
  }
}
main section:nth-of-type(1) .row:nth-of-type(2) {
  height: 8em;
  background-color: #610000;
  display: flex;
  align-items: center;
}
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container {
  width: 100%;
  height: 5em !important;
}
@media (min-width: 1481px) {
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-button-next,
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-button-prev {
  color: white;
  opacity: 0.5;
  top: 2.3em !important;
}
@media (max-width: 1399px) {
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-button-next,
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 1400px) {
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-wrapper {
    display: flex;
    margin-left: 1em;
    justify-content: center;
  }
}
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide .slide-active {
  background-color: #8e0000;
}
@media (min-width: 1400px) {
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide:nth-of-type(1) {
    width: 12em !important;
  }
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide:nth-of-type(2) {
    width: 17em !important;
  }
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide:nth-of-type(3) {
    width: 12em !important;
  }
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide:nth-of-type(1) {
    width: 12em !important;
  }
  main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide:nth-of-type(5) {
    width: 15em !important;
  }
}
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide a {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  border: 0.0625em solid #ffffff;
  line-height: 1.08em;
  border-radius: 0.42em;
  padding: 0.375em 0.79em;
  width: 100%;
  height: 2.91em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0.29em 0.25em 0.33em 0em rgba(0, 0, 0, 0.25);
}
main section:nth-of-type(1) .row:nth-of-type(2) .swiper-container .swiper-slide a:hover {
  background-color: #8e000073;
}

main section:nth-of-type(2) {
  background-color: #faedde;
  background-image: url(../../../img/Catalog/lineSectionTo.svg);
  background-repeat: no-repeat;
  background-position-y: 0.5em;
}
main section:nth-of-type(2) .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 9.375em 0;
  grid-row-gap: 4.375em;
  grid-column-gap: 6.25em;
}
@media (min-width: 1481px) {
  main section:nth-of-type(2) .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(2) .wrapper {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(2) .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  main section:nth-of-type(2) .wrapper {
    grid-column-gap: 3.25em;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 12px;
  }
}
@media (max-width: 690px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 8px;
  }
}
@media (max-width: 460px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 7px;
  }
}
@media (max-width: 380px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 6px;
  }
}
@media (max-width: 330px) {
  main section:nth-of-type(2) .wrapper {
    font-size: 5px;
  }
}
@media (min-width: 993px) {
  main section:nth-of-type(2) .wrapper .column:nth-of-type(3n) {
    justify-self: self-end;
  }
  main section:nth-of-type(2) .wrapper .column:nth-of-type(2) {
    justify-self: center;
  }
  main section:nth-of-type(2) .wrapper .column:nth-of-type(5) {
    justify-self: center;
  }
  main section:nth-of-type(2) .wrapper .column:nth-of-type(8) {
    justify-self: center;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(2) .wrapper .column:nth-of-type(2n) {
    justify-self: self-end;
  }
}
@media (max-width: 460px) {
  main section:nth-of-type(2) .wrapper .column:nth-of-type(n) {
    justify-self: center;
  }
}
main section:nth-of-type(2) .wrapper .column .column-row .box {
  flex-basis: 11.8em;
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(1) .column-row-image {
  background-color: #00000078;
  background-image: url(../img/zaryad1.jpg);
  background-position-y: 25%;
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(2) .column-row-image {
  background-image: url(../img/zaryad2.jpg);
}
@media (max-width: 768px) {
  main section:nth-of-type(2) .wrapper .column:nth-of-type(2) .column-row-image {
    background-position-y: 0%;
  }
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(3) .column-row-image {
  background-image: url(../img/zaryad3.jpg);
  background-position-x: 34%;
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(4) .column-row-image {
  background-image: url(../img/zaryad4.jpg);
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(5) .column-row-image {
  background-color: #610000;
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(6) .column-row-image {
  background-color: #610000;
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(7) .column-row-image {
  background-image: url(../img/zaryad5.jpg);
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(8) .column-row-image {
  background-image: url(../img/zaryad6.jpg);
}
main section:nth-of-type(2) .wrapper .column:nth-of-type(9) .column-row-image {
  background-image: url(../img/zaryad7.jpg);
}
main section:nth-of-type(2) .wrapper .column .column-row-image {
  width: 24em;
  height: 28em;
  border-radius: 0.611em;
  text-transform: uppercase;
  color: #ffffff00;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3.125em;
}
@media (max-width: 768px) {
  main section:nth-of-type(2) .wrapper .column .column-row-image {
    background-position-y: 50%;
  }
}
main section:nth-of-type(2) .wrapper .column .column-row-image h4 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 1.08em;
}
main section:nth-of-type(2) .wrapper .column .column-row-image p {
  line-height: 1.3em;
  font-size: 1em;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
main section:nth-of-type(2) .wrapper .column .column-row-image:hover {
  color: #ffffff;
  background: linear-gradient(360deg, #202020 0.32%, #656565 100%);
  transition-duration: 500ms;
}
main section:nth-of-type(2) .wrapper .column .column-row {
  margin-top: 4.6875em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
main section:nth-of-type(2) .wrapper .column .column-row .box p {
  line-height: 1.2em;
}
main section:nth-of-type(2) .wrapper .column .column-row .box p:nth-of-type(1) {
  font-size: 1.875em;
  color: #060606;
  font-weight: 600;
}
main section:nth-of-type(2) .wrapper .column .column-row .box p:nth-of-type(2) {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}
main section:nth-of-type(2) .wrapper .column .column-row button {
  background-color: #610000;
  font-size: 1.875em;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  padding: 0.4em 0.9em;
  border-radius: 0.267em;
  cursor: pointer;
}
main section:nth-of-type(2) .wrapper .column .column-row button:hover {
  background-color: #a50000;
}

main section:nth-of-type(3) {
  background-color: #934343;
  padding: 1em 0;
}
@media (max-width: 1440px) {
  main section:nth-of-type(3) {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(3) {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  main section:nth-of-type(3) {
    font-size: 8px;
  }
}
main section:nth-of-type(3) .row_line {
  background-image: url(../img/Description/backgroundLine.svg);
  width: 100%;
  height: 4.25em;
  background-size: cover;
}
main section:nth-of-type(3) .wrapper {
  background-color: #610000;
  margin: 1em 0;
}
main section:nth-of-type(3) .wrapper .container {
  padding: 4em 0;
}
@media (min-width: 1481px) {
  main section:nth-of-type(3) .wrapper .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(3) .wrapper .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
main section:nth-of-type(3) .wrapper .container .container_wrapper h2 {
  font-size: 3em;
  font-family: "Blago";
  font-weight: 500;
  color: #faedde;
  margin-bottom: 0.92em;
}
main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1140px) {
  main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper {
    position: relative;
  }
}
main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row:nth-of-type(1) {
  flex-basis: 60%;
}
@media (max-width: 768px) {
  main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row:nth-of-type(2) {
    margin-top: 2em;
  }
}
main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row:nth-of-type(2) img {
  width: 32.125em;
}
@media (max-width: 768px) {
  main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row:nth-of-type(2) img {
    width: 26.125em;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row:nth-of-type(2) img {
    position: absolute;
    top: 5em;
    left: 65%;
  }
}
main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row p {
  font-size: 1.5em;
  font-weight: 400;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.33em;
}
main section:nth-of-type(3) .wrapper .container .container_wrapper .container_row_wrapper .row p:nth-last-of-type(1) {
  margin: 0;
}

@font-face {
  font-family: "Blago";
  src: url("../../fonts/BLAGO_NK.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@keyframes menuAnimationMenuOn {
  0% {
    height: 15.15em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes menuAnimationMenuOff {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 15.15em;
    opacity: 1;
  }
}
@keyframes menuAnimationCatalogOff {
  0% {
    height: 24.5em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes menuAnimationCatalogOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 24.5em;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(4) {
    background-color: #faedde;
  }
}
main section:nth-of-type(4) .container {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container {
    padding: 0 1.5em;
  }
}
main section:nth-of-type(4) .container .wrapper {
  width: 100%;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper {
    box-shadow: -0.75em 0em 2em 0em rgba(0, 0, 0, 0.4);
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) {
  background-color: #faedde;
  background-size: cover;
  padding: 8.375em 0;
  z-index: 2;
  position: relative;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) {
    background-color: #FFFAF5;
  }
}
@media (min-width: 1481px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) {
    margin-bottom: 3em;
  }
}
@media (min-width: 993px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) {
    display: none;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) h2 {
  color: black;
  font-size: 3.4375em;
  font-family: "Blago";
  font-weight: 500;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) h2 {
    color: #610000;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) img {
  margin-left: 2.66em;
  width: 4.125em;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(1) img {
    width: 6.125em;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) {
    flex-direction: column;
    align-items: flex-start;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(1) {
  width: 34em;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(1) {
    margin-bottom: 3em;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(1) p {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.25em;
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(1) p {
    font-size: 1.6em;
    color: #030303;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input input {
  border: 0.125em solid #610000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input input::placeholder {
  font-size: 1.2em;
  color: #9d9d9d;
  font-family: "Montserrat", sans-serif;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(1) {
  display: flex;
  margin-bottom: 0.667em;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(1) input:nth-of-type(1) {
  width: 11.9167em;
  height: 2.375em;
  margin-right: 0.875em;
  padding: 0.667em 1em;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(1) input:nth-of-type(2) {
  width: 7.91667em;
  height: 2.375em;
  padding: 0.667em 1.125em;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(2) {
  display: flex;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(2) input:nth-of-type(1) {
  width: 20.7083em;
  height: 2.375em;
  padding: 0.667em 1.125em;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(1) .row-wrapper .column:nth-of-type(2) .box:nth-of-type(2) form .wrapper-input .row-input:nth-of-type(2) input:nth-of-type(2) {
  background-image: url(../../img/Main/Contacts/buttonForm.svg);
  background-size: cover;
  width: 2.375em;
  cursor: pointer;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) {
  background-color: #610000;
  padding: 1em 0;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) {
    font-size: 10px;
    padding: 2em 0;
  }
}
@media (max-width: 576px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) {
    font-size: 8px;
  }
}
@media (max-width: 430px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) {
    font-size: 6px;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper {
  border-top: 0.5625em solid #faedde;
  border-bottom: 0.5625em solid #faedde;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border {
  padding: 3.5625em 0;
  background-color: #610000;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1481px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(1) a {
  text-decoration: none;
  color: #faedde;
  font-family: "Montserrat", sans-serif;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(1) a:nth-of-type(1) {
  font-size: 3em;
  font-weight: 900;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(1) a:nth-of-type(2) {
  font-size: 2.25em;
  font-weight: 500;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  align-items: center;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(2) .row-wrapper .row-wrapper-border .column:nth-of-type(2) a img {
  width: 5.875em;
  height: 100%;
}
main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
  background-image: url(../../img/Main/Contacts/backgroundContactsImage.svg);
  height: 4em;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  box-shadow: 0.25em 1em 2em 2.5em rgba(0, 0, 0, 0.3);
}
@media (min-width: 1481px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
@media (max-width: 1480px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
    box-shadow: -0.75em 0em 2em 0em rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 992px) {
  main section:nth-of-type(4) .container .wrapper .row:nth-of-type(3) {
    z-index: -1;
  }
}

@font-face {
  font-family: "Blago";
  src: url("../../fonts/BLAGO_NK.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@keyframes menuAnimationMenuOn {
  0% {
    height: 15.15em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes menuAnimationMenuOff {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 15.15em;
    opacity: 1;
  }
}
@keyframes menuAnimationCatalogOff {
  0% {
    height: 24.5em;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes menuAnimationCatalogOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 24.5em;
    opacity: 1;
  }
}
footer {
  background-color: #610000;
}
@media (max-width: 1440px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  footer {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  footer {
    font-size: 12px;
    border-top: 0.5625em solid #faedde;
  }
}
@media (max-width: 768px) {
  footer {
    border-top: 1.92em solid #faedde;
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  footer {
    font-size: 8px;
    border-top: 1.92em solid #faedde;
  }
}
footer .container:nth-of-type(1) {
  padding: 3.25em 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1481px) {
  footer .container:nth-of-type(1) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  footer .container:nth-of-type(1) {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
@media (max-width: 992px) {
  footer .container:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2.125em;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3.125em;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(1) {
  width: 33em;
}
@media (max-width: 992px) {
  footer .container:nth-of-type(1) .column:nth-of-type(1) {
    width: 29em;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(1) h3 {
  font-size: 1.5em;
  font-family: "Blago";
  color: #ffffff;
  font-weight: 500;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row img {
  width: 2.625em;
  height: 100%;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin-top: 2.375em;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(1) .box {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(1) .box a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-top: 1.3em;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(2) a {
  margin-left: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(3) {
  margin-top: 1.3em;
  display: flex;
  align-items: center;
}
footer .container:nth-of-type(1) .column:nth-of-type(1) .row:nth-of-type(3) span {
  font-size: 1.5em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
}
footer .container:nth-of-type(1) .column:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) and (max-width: 992px) {
  footer .container:nth-of-type(1) .column:nth-of-type(2) {
    justify-self: self-end;
  }
}
@media (min-width: 1281px) {
  footer .container:nth-of-type(1) .column:nth-of-type(2) {
    border-left: 0.375em solid #7a2222;
    padding-left: 2.75em;
    margin-left: -2.75em;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(2) h3 {
  font-size: 1.5em;
  font-family: "Blago";
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1.625em;
}
footer .container:nth-of-type(1) .column:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 576px) and (max-width: 992px) {
  footer .container:nth-of-type(1) .column:nth-of-type(2) ul {
    align-items: flex-end;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(1) .column:nth-of-type(2) ul li {
    margin-bottom: 1.3em;
  }
  footer .container:nth-of-type(1) .column:nth-of-type(2) ul li:nth-last-of-type(1) {
    margin: 0;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(2) ul li a {
  line-height: 1.2083em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
footer .container:nth-of-type(1) .column:nth-of-type(2) ul li a:hover {
  font-weight: 600;
}
footer .container:nth-of-type(1) .column:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  footer .container:nth-of-type(1) .column:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(1) .column:nth-of-type(3) {
    grid-column-end: 2;
    justify-self: self-start;
    text-align: start;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(3) .row {
  display: flex;
  align-items: center;
}
footer .container:nth-of-type(1) .column:nth-of-type(3) .row:nth-of-type(1) {
  margin-bottom: 2em;
}
@media (min-width: 576px) and (max-width: 992px) {
  footer .container:nth-of-type(1) .column:nth-of-type(3) .row:nth-of-type(1) {
    justify-content: center;
  }
}
footer .container:nth-of-type(1) .column:nth-of-type(3) .row:nth-of-type(1) h3 {
  font-size: 2.375em;
  font-family: "Blago";
  color: #faedde;
  font-weight: 500;
}
footer .container:nth-of-type(1) .column:nth-of-type(3) .row:nth-of-type(1) img {
  width: 4.5625em;
  height: 100%;
  margin-right: 1.5em;
}
footer .container:nth-of-type(1) .column:nth-of-type(3) .row:nth-of-type(2) span {
  font-size: 1.5em;
  line-height: 1.0833em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
footer .container:nth-of-type(2) {
  background-color: #330101;
}
footer .container:nth-of-type(2) .row {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2.292em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
@media (min-width: 1481px) {
  footer .container:nth-of-type(2) .row {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 1480px) {
  footer .container:nth-of-type(2) .row {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
@media (min-width: 993px) {
  footer .container:nth-of-type(2) .row {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  footer .container:nth-of-type(2) .row {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(2) .row {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  footer .container:nth-of-type(2) .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;
    align-items: flex-start;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(2) .row {
    grid-template-columns: 1fr;
  }
}
footer .container:nth-of-type(2) .row .column {
  width: 11em;
}
@media (max-width: 768px) {
  footer .container:nth-of-type(2) .row .column {
    width: 15em;
  }
}
footer .container:nth-of-type(2) .row .column:nth-of-type(2) {
  justify-self: center;
}
@media (max-width: 767px) {
  footer .container:nth-of-type(2) .row .column:nth-of-type(2):nth-of-type(2) {
    justify-self: self-end;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(2) .row .column:nth-of-type(2):nth-of-type(2) {
    justify-self: self-start;
  }
}
footer .container:nth-of-type(2) .row .column:nth-of-type(3) {
  justify-self: flex-end;
}
@media (max-width: 767px) {
  footer .container:nth-of-type(2) .row .column:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 11em;
  }
}
@media (max-width: 576px) {
  footer .container:nth-of-type(2) .row .column:nth-of-type(3) {
    grid-template-columns: 1fr;
    grid-column-end: 2;
    justify-self: self-start;
  }
}

/* Box sizing rules */
main {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (min-width: 1025px) {
  .zoom:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
  }
}